.main {
    display: flex;
    justify-content: center;
    align-items: center;
    .block {
        .contents {
            display: flex;
        }
        .left {
            max-width: 500px;
            margin-right: 50px;
        }
        position: relative;
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
        padding: 50px;
        width: calc(90vw - 100px);
        max-width: 1000px;
        img {
            width: 100px;
        }
        button {
            position: absolute;
            top: 50px;
            right: 50px;
        }
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 16px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }

    table th,
    table td {
        padding: 12px 15px;
        border-bottom: 1px solid #dddddd;
    }

    table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    table tbody tr:hover {
        background-color: #f1f1f1;
    }

    table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }
}
